<h2 mat-dialog-title>Create New User</h2>
<mat-dialog-content [formGroup]="userForm">
  <mat-form-field appearance="outline" class="w-full mb-3">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first_name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full mb-3">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="last_name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full mb-3">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <input type="file" (change)="onFileSelected($event)" />
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submitForm()">Create</button>
</mat-dialog-actions>
