.login-page {
  height: 100vh;
  text-align: center;
  margin: 0px auto; 
  padding: 30px;   
  background-color: #f7f9fc;
}
.logo-img {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}
.page-title {
  font-size: 2.2rem;         
  font-weight: 600;         
  color: #161d43;           
  margin-bottom: 30px;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 30px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.center-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1.2rem;
}

.custom-field.mat-form-field {
  border-radius: 8px;
}


.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: white; }