<div class="user-details-container" *ngIf="user; else loading">
  <mat-card class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-container">
        <img [src]="user.avatar" alt="avatar" />
      </div>

      <mat-card-title class="name-text">{{ user.first_name }} {{ user.last_name }}</mat-card-title>
      <mat-card-subtitle class="card-text">User Id: {{ user.id }}</mat-card-subtitle>
      <mat-card-subtitle class="card-text"><strong>Email:</strong> {{ user.email }}</mat-card-subtitle>

    </mat-card-header>

  </mat-card>
</div>

<ng-template #loading>
  <div class="spinner" >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

  