/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif; }

  
  .mat-mdc-snack-bar-container {
    &.snack-error {
      --mdc-snackbar-container-color:  #f44336;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
  }
